.packageCard {
    background-color: #191919;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 8px;
    margin-bottom: 30px;
    color: #fff;
}

.packageCardHeader {
  padding: 20px;
  border-bottom: 1px solid #00000029;
}

.packagePriceDiv {
  display: flex;
  align-items: center;
  /* gap: 16px; */
  gap: 5px;
}

.packagePrice {
  font-size: 50px;
  font-weight: 700;
}

.packageName {
  font-size: 16px;
  color: #d41f14;
  font-weight: 600;
}

.packagePriceDiv p {
  font-size: 16px;
  color: #707070;
  text-transform: capitalize;
}

.packageCardBody {
  padding: 20px;
}

.packageCardList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.packageCardList li {
  position: relative;
  padding-left: 26px;
  margin-bottom: 0;
  font-size: 17px;
}
.packageCardList li:before {
  content: "";
  background-image: url(../../assets/images/redCheck.webp);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
}

.packageCardBody-title {
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 700;
}
.packageCardBody .theme-btn {
  margin: 17px auto 0;
  display: block;
}

/* .packageCard .packageCardList { */
.packageCard .packageCardBodyList {
  /* height: 220px; */
  height: 200px;
  overflow: scroll;
  margin-bottom: 30px;
}
/* Applies to WebKit browsers (Chrome, Safari, Edge) */
/* .packageCard .packageCardList::-webkit-scrollbar { */
.packageCard .packageCardBodyList::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

/* .packageCard .packageCardList::-webkit-scrollbar-track { */
.packageCard .packageCardBodyList::-webkit-scrollbar-track {
  /* background: #f0f0f0; */
  border-radius: 10px;
}

/* .packageCard .packageCardList::-webkit-scrollbar-thumb { */
.packageCard .packageCardBodyList::-webkit-scrollbar-thumb {
  background-color: #d41f14;
  border-radius: 10px;
  /* border: 3px solid #f0f0f0; */
}

/* .packageCard .packageCardList::-webkit-scrollbar-thumb:hover { */
.packageCard .packageCardBodyList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
@media (max-width: 1199px) {
  .packagePrice {
    font-size: 40px;
  }
  .packageName {
    font-size: 13px;
  }
  .packageCardBody {
    padding: 16px;
  }
  .packagePriceDiv {
    gap: 8px;
  }
  .packageCardList li {
    padding-left: 22px;
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .packageCard {
    max-width: 360px;
    margin: 0 auto 25px;
  }
}
