@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: #191919;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 0 !important;
}

p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0 !important;
}
.colorYellow {
  color: #d7ff00;
}

.theme-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  border: 1px solid;
  color: #fff;
  border-radius: 30px;
  line-height: 1;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}

.theme-btn__yellow {
  background-color: #d7ff00;
  border: 1px solid #d7ff00;
  color: #191919;
}
.theme-btn__black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #d7ff00;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.fw-medium {
  font-weight: 600;
}

.main-navbar {
  position: absolute !important;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.main-navbar .navbar-brand {
  max-width: 140px;
}

.main-navbar .navbar-brand img {
  width: 100%;
}

.main-navbar .navbar-nav .nav-link {
  color: #ffffff;
  position: relative;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.main-banner {
  background-image: url(assets/images/main-banner-bg.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 160px 0 80px;
}

.main-banner__content h1 {
  font-size: 60px;
}

.main-banner__content p {
  font-size: 16px;
}

.main-banner__content-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.main-banner__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Home Page CSS Start */
.home-about-sec {
  margin: 60px 0;
}
.home-about-sec .sec-head h2 {
  color: #191919;
  font-size: 54px;
}
.home-about-sec .sec-head {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.home-about-sec .sec-head p {
  font-size: 16px;
}

.graphic-design-agency {
  background-image: url(assets/images/footer-bg-img.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 120px 0 60px;
}
.graphic-design-agency .sec-head {
  display: flex;
  align-items: end;
  justify-content: space-between;
  color: #fff;
  gap: 16px;
  margin-bottom: 40px;
}

.sec-head-tag {
  color: #d7ff00;
  font-size: 18px !important;
  margin-bottom: 20px !important;
  font-weight: 400;
  width: max-content;
  padding: 3px 20px;
  border-radius: 30px;
}
.label-yellow-bg {
  background-color: #d7ff00;
  color: #191919;
}
.graphic-design-agency .sec-head h2 {
  font-size: 50px;
  margin-bottom: 12px !important;
}
.graphic-design-agency .sec-head p {
  font-size: 16px;
  max-width: 880px;
}

.gfx-card__content {
  background-image: url(assets/images/gfx-card-bg.png);
  background-size: cover;
  background-position: bottom center;
  border-radius: 16px;
  overflow: hidden;
  min-height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gfx-card__content img {
  width: 110px;
}

.gfx-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.gfx-card__title {
  color: #fff;
  font-size: 20px;
  line-height: 1;
}

.gfx-last-content {
  color: #fff;
}

.gfx-last-imgs {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: self-start;
}
.gfx-last-imgs img {
  max-width: 160px;
}

.gfx-last-img-1 {
  padding-top: 60px;
}

.home-portfolio-sec {
  margin: 60px 0;
}

.home-portfolio-sec .sec-head {
  text-align: center;
  margin-bottom: 40px;
}

.home-portfolio-sec .sec-head h2 {
  font-size: 45px;
  margin-bottom: 15px !important;
}

.home-portfolio-sec .sec-head p {
  font-size: 16px;
  max-width: 768px;
  margin: 0 auto;
}

.portfolio-img img {
  width: 100%;
  border-radius: 16px;
  max-width: 100%;
}

.portfolio-imgs__container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.our-work-process {
  padding: 120px 0 60px;
  background-image: url(assets/images/our-work-process-bg.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.our-work-process .sec-head {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}
.our-work-process .sec-head h2 {
  font-size: 45px;
  margin-bottom: 15px !important;
}
.our-work-process .sec-head p {
  font-size: 16px;
  max-width: 768px;
  margin: 0 auto;
}

.our-work-process__container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-align: center;
  background-image: url(assets/images/our-process-steps-bg.png);
  background-repeat: no-repeat;
  background-position: 45% 44%;
  background-size: 84%;
}
.our-work-process__item h1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
}

.our-work-process__item p {
  font-size: 16px;
}

.our-work-process__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.our-work-process-last-p {
  color: #fff;
  text-align: center;
  max-width: 300px;
  margin: 20px auto 0;
  font-size: 15px;
}

.home-testimonial-sec .sec-head {
  text-align: center;
  margin-bottom: 40px;
}

.home-testimonial-sec {
  margin: 60px 0;
}

.home-testimonial-sec .sec-head p {
  max-width: 768px;
  margin: 0 auto;
  font-size: 16px;
}

.home-testimonial-sec .sec-head h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px !important;
}

.home-testimonial-card {
  background-color: #131313;
  padding: 40px;
  color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.testimonial-quote__text {
  font-size: 16px;
}
.testimonial-quote__img {
  width: 35px;
}
.testimonial-user__details {
  display: flex;
  align-items: center;
  gap: 16px;
}

.testimonial-user__img {
  width: 60px;
  border-radius: 12px;
  overflow: hidden;
}

.testimonial-user__content h4 {
  color: #d7ff00;
  font-size: 20px;
}
.testimonial-user__content p {
  font-size: 14px;
}

.swiper-container .swiper {
  padding-bottom: 55px;
}
.swiper-container .swiper-pagination-bullet {
  background: #131313 !important;
  opacity: 1 !important;
  width: 16px;
  height: 16px;
}
.swiper-container .swiper-pagination-bullet-active {
  background: #d7ff00 !important;
  border-radius: 10px !important;
  opacity: 1 !important;
}

.gfx-global__content h2 {
  font-size: 61px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 10px !important;
}
.gfx-global__content p {
  font-size: 16px;
}
.gfx-global__img {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: 0 auto;
}
.gfx-global-sec {
  margin: 60px 0;
}

.faqs-sec {
  color: #fff;
  padding: 120px 0 60px;
  background-image: url(assets/images/footer-bg-img.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
.faqs-sec .sec-head {
  text-align: center;
  margin-bottom: 40px;
}
.faqs-sec .sec-head .sec-head-tag {
  margin: 0 auto 20px !important;
}
.faqs-sec .sec-head h2 {
  font-size: 45px;
  margin-bottom: 15px !important;
}

.faqs-items .accordion-button {
  background-color: #242424;
  box-shadow: none;
  color: #fff;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 600;
}
.faqs-items .accordion-button:focus {
  box-shadow: unset;
}
.faqs-items
  .accordion-item:first-of-type
  > .accordion-header
  .accordion-button {
  border-radius: 12px;
}
.faqs-items .accordion-button:not(.collapsed) {
  background: #d7ff00;
  border: initial;
  box-shadow: none;
  color: #191919;
}
.faqs-items .accordion-body {
  color: #ffffff;
  font-size: 15px;
}
.faqs-items .accordion-item {
  background: transparent;
  border: unset;
  border-radius: unset !important;
}
.faqs-items .accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faqs-items .accordion-button::after {
  content: "" !important;
  background-image: url("Assets/images/plus-icon.png") !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
  height: 1rem;
  filter: invert(1) brightness(2);
}

.faqs-items .accordion-button:not(.collapsed)::after {
  background-image: url("Assets/images/minus-icon.png") !important;
  transform: rotate(0deg);
  filter: unset;
}

.faqs-form {
  background-color: #242424;
  padding: 30px 20px;
  border-radius: 14px;
}
.faqs-form-head {
  text-align: center;
  margin-bottom: 20px;
}
.faqs-form-head h4 {
  font-size: 36px;
  color: #d7ff00;
  font-weight: 500;
}
.faqs-form-head p {
  font-size: 16px;
}
.faqs-form-items .form-control::placeholder,
.faqs-form-items .form-control:focus::placeholder {
  color: #fff;
}
.faqs-form-items .form-control {
  background-color: #191919;
  border: unset;
  padding: 12px 16px;
  color: #fff;
}
.faqs-form-items .form-control:focus {
  color: #fff;
  box-shadow: unset;
  background-color: #191919;
}

.faqs-form-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faqs-form-btn__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqs-form-btn__div-content p {
  font-size: 14px;
  line-height: 1;
}
.faqs-form-btn__div-content a {
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.blog-sec {
  margin: 60px 0;
}
.blog-sec .sec-head {
  text-align: center;
  /* margin-bottom: 40px; */
  max-width: 900px;
  margin: 0 auto 40px;
}

.blog-sec .sec-head h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 16px !important;
}

.blog-sec .sec-head .sec-head-tag {
  margin: 0 auto 0;
}

.blog-card {
  background-color: #191919;
  color: #fff;
}
.blog-card__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog-card__content-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-card__content-meta p {
  font-size: 13px;
}
.blog-card__content-meta h4 {
  font-size: 15px;
}
.blog-card__content-title {
  font-size: 16px;
  line-height: 1.3;
}
/* Home Page CSS End */

/* Inner Pages Css */
.inner-banner {
  /* background: #000; */
  padding: 200px 0 120px;
  text-align: center;
  color: #fff;
  background-size: cover;
  background-position: center;
}
.inner-banner-content h1 {
  font-size: 54px;
  font-weight: 400;
  line-height: 1.2;
}

.about-sec {
  margin: 60px 0;
}

.about-sec__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.about-sec__content h2 {
  font-size: 50px;
  font-weight: 600;
}

.about-sec__content p {
  font-size: 16px;
}

.different-industries-client {
  background-image: url(assets/images/footer-bg-img.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 120px 0 60px;
}

.different-industries-client .sec-head {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.different-industries-client .sec-head h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 16px !important;
}
.different-industries-client .sec-head p {
  max-width: 768px;
  margin: 0 auto;
  font-size: 16px;
}

.industries-client__content {
  background-color: #242424;
  color: #fff;
  padding: 16px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.industries-client__content__head {
  display: flex;
  align-items: center;
  gap: 8px;
}
.industries-client__content__head h3 {
  font-size: 29px;
  line-height: 1;
  font-weight: 700;
}
.industries-client__content p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

.proudly-endorsed-sec {
  margin: 60px 0;
}
.proudly-endorsed-sec .sec-head {
  text-align: center;
  margin-bottom: 40px;
}
.proudly-endorsed-sec .sec-head h2 {
  font-size: 50px;
  margin-bottom: 7px !important;
  font-weight: 600;
}
.proudly-endorsed-sec .sec-head p {
  font-size: 16px;
  max-width: 768px;
  margin: 0 auto;
}

.proudly-endorsed__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proudly-endorsed__images img {
  max-width: 300px;
}

.our-achievements {
  background-image: url(assets/images/footer-bg-img.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 120px 0 60px;
}
.our-achievements .sec-head {
  text-align: center;
  max-width: 768px;
  margin: 0 auto 40px;
  color: #fff;
}
.our-achievements .sec-head h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 5px !important;
}

.our-achievement-images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}
.our-achievement-images img {
  width: 100%;
}

.client-testimonial {
  margin: 60px auto;
}

.client-testimonial .sec-head h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 10px !important;
}

.client-testimonial .sec-head p {
  font-size: 16px;
}

.client-testimonial .sec-head {
  max-width: 520px;
}

.client-testimonial__content {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.client-testimonial__content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #000;
  padding-top: 16px;
}

.client-testimonial__content-footer-meta h3 {
  font-size: 22px;
  font-weight: 600;
}

.client-testimonial__content-footer-meta-desc {
  font-size: 14px;
}

.client-testimonial__content-quote {
  color: #191919;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.client-testimonial__content-footer img {
  width: 100px;
}

.client-testimonial__container .swiper {
  padding: 5px 5px 5px 8px;
  position: relative;
}
.client-testimonial__container .swiper:after {
  content: "";
  display: block;
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 2;
  background: linear-gradient(to left, rgb(255 255 255 / 186%), transparent);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
}

.pricing-tabs {
  gap: 10px;
  justify-content: center;
  border: 0 !important;
  background-color: #191919;
  max-width: max-content;
  margin: 0 auto 30px !important;
  border-radius: 30px !important;
}

.pricing-tabs .nav-link {
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px !important;
  font-size: 14px;
  margin: 0;
  border: unset !important;
}

.pricing-tabs .nav-link:hover {
  color: #191919;
  background-color: #d7ff00;
  border: unset;
}

.pricing-tabs .nav-link.active {
  border: unset;
  background-color: #d7ff00 !important;
  color: #191919 !important;
}

.pricing-sec {
  background-color: #242424;
  padding: 60px 0;
  color: #fff;
}

.pricing-card {
  background-color: #191919;
  padding: 30px 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pricing-card__header-price {
  background-color: #d7ff00;
  color: #191919;
  width: max-content;
  line-height: 1;
  padding: 6px 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
}
.pricing-card__header-head {
  line-height: 1;
  font-size: 25px;
  font-weight: 600;
}
.pricing-card__header-per-project {
  font-size: 14px;
}
.pricing-card__header {
  border-bottom: 1px solid #d7ff00;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pricing-card__footer {
  background-color: #d7ff00;
  border: unset;
  padding: 7px 7px;
  border-radius: 16px;
}

.pricing-card__body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pricing-card__body ul li {
  position: relative;
  padding-left: 26px;
  margin-bottom: 0px;
  font-size: 15px;
}

.pricing-card__body ul li::before {
  content: "";
  background-image: url("assets/images/li-before.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
}

.pricing-page .main-footer {
  position: relative;
}
.pricing-page .main-footer:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #242424;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contactUS-banner {
  background-position: bottom;
  padding: 260px 0 220px;
}

.contactUS-sec {
  margin: 60px 0;
}
.contactUS-sec .sec-head {
  text-align: center;
  margin-bottom: 40px;
}
.contactUS-sec .sec-head h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 16px !important;
}
.contactUS-sec .sec-head p {
  font-size: 16px;
  max-width: 580px;
  margin: 0 auto;
}

.contact-form .form-control {
  background-color: #fff;
  border: 1px solid #707070;
  padding: 12px 16px;
  color: #191919;
  border-radius: 30px;
}
.contact-form .form-control:hover,
.contact-form .form-control:focus {
  box-shadow: unset;
  outline: unset;
  border-color: #707070;
}

.contact-form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 70px 25px 50px;
  border-radius: 16px;
}

.contact-form-information {
  height: 100%;
  background-color: #191919;
  color: #fff;
  padding: 25px 25px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contactForm-icons-text {
  display: flex;
  align-items: center;
  gap: 12px;
}
.contactForm-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contactForm-icons-text .contactForm-icon {
  width: 40px;
}
.contactForm-icons-text .contactForm-icon img {
  width: 100%;
}
.contactForm-icons-textContent {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.contact-form-information h3 {
  font-size: 30px;
  color: #d7ff00;
  font-weight: 600;
}
.contact-form-information p {
  font-size: 16px;
}

.portfolio-content-sec {
  margin: 60px 0;
}
.portfolio-content-title h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px !important;
}
.portfolio-content-title p {
  font-size: 16px;
}

.portfolio-content-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio-content-image {
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  padding: 60px 10px;
  max-width: 360px;
  margin: 0 auto;
}
.portfolio-content-image img {
  width: 340px;
  object-fit: contain;
  object-position: center;
  height: 290px;
}

.portfolio-content-row {
  border-bottom: 1px solid #707070;
  padding: 50px 0 30px;
}
.portfolio-content-row:first-child {
  padding-top: 0;
}
.portfolio-content-row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio-content-sec .sec-head {
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
}

.portfolio-content-sec .sec-head h2 {
  font-size: 42px;
}

.portfolio-content-sec .sec-head p {
  max-width: 619px;
  margin: 0 auto;
}

/* Portfolio */

.services-box-content {
  color: #fff;
  padding: 10px;
}
.services-box-content img {
  width: 200px;
}
.services-box-1 .services-box-content,
.services-box-3 .services-box-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.services-box-1 {
  background-color: #333333;
}
.services-box-3 {
  background-color: #50b294;
  color: #fff;
}
.services-box-2 .services-box-content,
.services-box-4 .services-box-content {
  display: flex;
  flex-direction: row-reverse;
}

.services-box-content-2-1 {
  background-color: #0c389f;
}

.services-box-content-2-2 {
  background-color: #799f0c;
}

.services-box-content-4-1 {
  background-color: #0c389f;
}

.services-box-content-4-2 {
  background-color: #9f160c;
}

.services-box-2,
.services-box-4 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: space-between;
}

.services-box-1,
.services-box-2,
.services-box-3,
.services-box-4 {
  height: 100%;
}

.services-boxes {
  display: flex;
}

.search-blogs-box {
  background-color: #191919;
  padding: 30px 30px;
  border-radius: 10px;
  color: #fff;
}

.search-blogs-box .form-control {
  background-color: #242424;
  color: #fff;
  border: 0;
  padding: 17px 0px 17px 25px;
}
.search-blogs-box .form-control::placeholder {
  color: #fff;
}
.search-blogs-box .form-control:focus {
  box-shadow: unset;
  border: 0;
}

.search-blogs-box .theme-btn__yellow {
  padding: 0 30px;
}

.search-blogs-box .input-group {
  overflow: hidden;
  border-radius: 30px;
}

.search-blogs-box .form-label {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
/* Inner Pages Css */

/* Main Footer */
.main-footer {
  /* background-color: #191919; */
  background-image: url(assets/images/footer-bg-img.png);
  color: #fff;
  padding: 120px 0 20px;
  background-size: 100%;
  background-position: top center;
}

.main-footer__links-title {
  color: #d7ff00;
  font-size: 18px;
  margin-bottom: 20px !important;
}
.main-footer__links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.main-footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
}

.footer-copyright_links {
  display: flex;
  gap: 16px;
}
.footer-copyright_links a {
  color: #fff;
  text-decoration: none;
}

.main-footer__logo {
  max-width: 200px;
}
.main-footer__logo img {
  width: 100%;
}

.main-footer__logo-content {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.footer-logo__content-imgs {
  max-width: 300px;
}
.footer-logo__content-imgs img {
  width: 100%;
}

.main-footer__logo-content p {
  font-size: 16px;
}

.footer-social__links {
  display: flex;
  gap: 16px;
}

.footer-social__links a {
  background-color: #d7ff00;
  line-height: 1;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 18px;
  border-radius: 50%;
}

.main-footer__logo-content .footer-social__links {
  margin-bottom: 5px;
}

.footer-main__title {
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 40px !important;
  text-transform: capitalize;
}
